@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

#modal {
    transition: all 0.4s ease-in-out;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px 0;
    background: #f6f8fa;

    .curr-report {
        .curr-income,
        .curr-outcome {
            box-shadow: 0px 6px 30px rgba(206, 206, 206, 0.25);
            transition: all 0.4s ease-in-out;

            &:hover {
                box-shadow: 0px 0px 10px 5px rgba(206, 206, 206, 0.4);
            }
        }
    }

    .transaction-list {
        .header-transaction {
            .btn-transaction {
                .btn__modal {
                    transition: all 0.4s ease;

                    &:hover {
                        transform: translateY(-10px);
                    }
                }
            }
        }
    }
}
